/* RESET  CSS */


*{
    margin: 0;
    padding: 0;
}


/* BANNER */

body{
    background-color: black;
}


.div-body{
    height: 760px;
    width: 100%;
}

.banner{
    height: 100px;
    width: 100%;
    background-color: rgb(68, 255, 0);
    margin-top: 20px;
    display: flex;
}

.banner_div{
    width:150px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
}

.banner_div2{
    width:270px;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 2%;
}

.banner_div3{
    width:240px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
}

.banner_p{
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 400; 
    color: black;
}

.fa-solid{
    color: black;
}
